body{
margin: 0px;
background-color: #e5e5e5;
}

.cover{
background-image: url('computer.jpg');
background-size:cover;
width: 100%;
height:100%; 
color:white;
}
#title{
width: 100%;
font-size:85px;
font-family:"rubik";
margin:auto;
max-width: 50em;
position: absolute;
text-align: center;
top: 250px;
text-transform: uppercase;
font-weight:900;

}
#container{
margin: 0 auto;
max-width: 50em;
background-color: #fff;
border-radius: 18px;
border: 1px solid #eee;
padding-left: 2%;
padding-right: 2%;
font-family: sans-serif;
margin: 0 auto;
max-width: 50em;
color: blue;
}

a {
color: #f0ad2c;
text-decoration: none;

}
a:hover{
color: black;

}